//頁面向下滾動時，Navbar 加上底色（Transparent/100）與毛玻璃效果（Blur）

html {
  scroll-timeline-name: --page-scroll;
  scroll-timeline-axis: block;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 50px;
  z-index: 1000;
}

/* Navbar 背景玻璃層 */
.navbar::before {
  content: "";
  position: absolute;
  inset: 0;

  z-index: -1;

  background-color: transparent;

  animation: navbar-background-change forwards;
  animation-timeline: --page-scroll;
  animation-range: 0px 80px;
}

@keyframes navbar-background-change {
  from {
    background-color: transparent;
    backdrop-filter: blur(0);
  }

  to {
    background-color: #ffffff1f;
    backdrop-filter: blur(24px);
  }
}

.logo {
  width: 152px;
}

//下拉選單響應式設定
//手機版：選單自動展開
.offcanvas-body {
  .dropdown-menu {
    display: block;
    border: 0px;
  }
  .dropdown-item {
    &:hover {
      background-color: rgba($white, 0.08);
    }

    &:active {
      color: $primary-200;
      background-color: rgba($white, 0.08);
    }
  }
}

//設定側邊欄背景
.offcanvas {
  backdrop-filter: blur(24px);
}

//電腦版：選單隱藏
@media (min-width: 992px) {
  .offcanvas-body {
    //在沒有show屬性時，是隱藏的
    .dropdown-menu:not(.show) {
      display: none;
    }

    //下拉選單樣式
    .dropdown-menu {
      border: 1px solid rgba($white, 0.12);
      backdrop-filter: blur(24px);
    }
    .dropdown-item {
      min-width: 224px;
    }
  }
  .offcanvas {
    backdrop-filter: unset;
  }
}

//搜尋框
.navbar-control-input {
  padding: 9px 45px 9px 45px;
  background-color: $white;

  &::placeholder {
    color: $neutral-300;
  }
}

.w-300 {
  width: 300px;
}

.navbar-control-icon {
  left: 13px;
}

.navbar-collapse {
  background-color: rgba($white, 0.12);
  backdrop-filter: blur(24px);
  border: 1px solid rgba($white, 0.12);
}

@media (min-width: 992px) {
  .navbar-collapse {
    background-color: transparent;
    border-color: transparent;
    background-color: unset;
    backdrop-filter: unset;
  }
}

.member-link {
  &:hover {
    color: $primary-100;
  }

  &:active {
    color: $primary-200;
  }
}

.hover-bn {
  display: block;
  border: 1px solid transparent;
  background-color: $primary-100;
  color: $neutral-600;

  &:hover,
  &:active {
    background-color: $primary-200;
    border-color: $primary-200;
    color: $neutral-600;
  }
}
