/* 可以先將所有物件加上邊框，來判斷範圍
    border會佔據距離，outline不會
 
*,
*:before,
*:after {
  outline: 1px solid red;
}
  */

.banner {
  background-image: url("../../assets/images/index-bg/index-hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 76px);
}

@media (min-width: 992px) {
  .w-lg-586 {
    width: 586px;
  }

  .size-lg-368 {
    width: 368px;
    height: 368px;
  }
}

.bg-blur24 {
  border: 1px solid rgba($white, 0.12);
  backdrop-filter: blur(24px);
}

// 工具分類背景
.tool {
  position: relative;
  background: url("../../assets/images/index-bg/index-tool-bg.png") center/cover
    no-repeat;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: -30px;
    width: 760px;
    height: 500px;
    background: url("../../assets/images/index-bg/index-tool-bg-dec.png")
      center/contain no-repeat;
    pointer-events: none;
  }
}

//本月精選
.img64 {
  width: 64px;
  height: 64px;
  object-fit: cover;
  flex-shrink: 0;
}

.popular-tool {
  background:
    linear-gradient(rgba(16, 12, 36, 1), rgba(17, 13, 37, 0.5)),
    url("../../assets/images/index-bg/landing-highlight-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

//最新上架
.latest .container {
  position: relative;
  z-index: 1;
}

.latest {
  background:
    linear-gradient(rgba(37, 36, 87, 0.2), rgba(17, 9, 32, 1)),
    url("../../assets/images/index-bg/index-new-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 800px;
    background: url("../../assets/images/index-bg/index-new-bg-dec-left.png")
      center/contain no-repeat;
    z-index: 0;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 800px;
    height: 800px;
    background: url("../../assets/images/index-bg/index-new-bg-dec-right.png")
      center/contain no-repeat;
    z-index: 0;
    pointer-events: none;
  }
}

//上架你的AI工具
.size-319 {
  width: 319px;
  height: 319px;
}

.upload-card {
  background:
    linear-gradient(rgba(123, 92, 168, 0), rgba(156, 132, 192, 0.7)),
    url("../../assets/images/index-bg/upload.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.upload-card-bg {
  background-color: rgba(255, 255, 255, 0);
  // 背景模糊
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  // 內陰影
  box-shadow: inset -6px -6px 8px rgba(132, 132, 132, 0.25);
}

//常見問題
.accordion-item {
  background-color: transparent;
  backdrop-filter: blur(12px);

  &:has(.accordion-button:not(.collapsed)) {
    background-color: rgba($white, 0.08);
  }
}

.accordion-button {
  background-color: rgba($white, 0.08);

  &:not(.collapsed) {
    background-color: rgba($white, 0.12);
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &::after {
    filter: brightness(0) invert(1);
  }
}

.deco-card {
  border: 1px solid rgba($white, 0.12);
  background-color: rgba($white, 0.08);
  border-radius: 12px;
  backdrop-filter: blur(24px);

  &:hover {
    border-color: $primary-100;
  }
}
